version: 2

updates:
  # Go dependencies
  - package-ecosystem: "gomod"
    directory: "/go-backend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps"